$primary-color: #0673e7;
$hover-color: aqua;
$padding-horizontal: 60px;
$header-height: 124px;
$logo-size: 60px;
$font-size-large: 22px;
$font-size-medium: 16px;
$gap-large: 20px;
$gap-medium: 16px;
$font-weight-bold: 700;
