.edit-profile-avatar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .avatar-preview-container {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0f0;

        .avatar-preview-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .avatar-placeholder {
            color: gray;
            font-size: 14px;
        }
    }

    .edit-profile-upload-btn {
        padding: 14px 20px;
        background-color: #6dc9d1;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: #94dbda;
        }

        .upload-input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}
