.view-repairment-histories {

  
    .breadcrumb {
      color: #000000;
      font-size: 24px;
      margin-bottom: 20px;
  
      span {
        margin: 0 5px;
      }
  
      .current {
        font-weight: bold;
      }
    }
  
    .content {
      display: flex;
      gap: 20px;
  
      .sort-bar {
        flex: 0 0 250px;
      }
  
      .repairment-history-list {
        flex: 1;
        padding: 0;
      }
    }
  }