.container-footer {
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.center-footer {
    display: flex;
    background-color: inherit;
    position: relative;
    left: 100px;
}

.left {
    width: 20%;

}

.right {
    display: flex;
    position: relative;
    left: 400px;
}

.footer-section {
    margin: 0 10px;
    min-width: 150px;
}

.footer-logo {
    width: 250px;
    height: auto;
    position: relative;
    bottom: 50px;
    right: 40px;
}

.footer-text {
    position: relative;
    bottom: 80px;
    max-width: 100%;
}

.footer-section h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 20px;
        padding-left: 50px;
    }
}

@media (max-width: 480px) {
    .footer-section h2 {
        font-size: 18px;
    }

    .footer-section li {
        font-size: 14px;
    }
}