.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(112, 120, 130, 0.5); /* Đổi từ màu xám nhạt sang xám đậm */
    backdrop-filter: blur(2px);
    z-index: 100;
}

.spinner-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-glow {
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgba(59, 130, 246, 0.5);
    filter: blur(20px);
    animation: pulse 2s infinite;
    box-shadow: 0 0 20px rgba(0, 112, 255, 0.5);
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px dashed #3b82f6;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 15px rgba(0, 112, 255, 0.4);
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #3b82f6;
    box-shadow: 0 0 10px rgba(0, 112, 255, 0.5);
    animation: pulse 2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}