/* General Container */
.dh-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Card Styling */
  .dh-card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .dh-select {
    max-width: 50px;
    margin-right: 10px;
  }

  .dh-label {
    margin-top: 7px;
  }
  
  /* Title */
  .dh-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2d3748;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    border-bottom: 1px solid #edf2f7;
  }
  
  /* Flexbox container for table and pagination */
  .dh-flex-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
  }
  
  /* Table Container */
  .dh-table-container {
    overflow-x: auto;
  }
  
  /* Table Styling */
  .dh-table {
    min-width: 100%;
    border-collapse: collapse;
  }
  
  .dh-table th, .dh-table td {
    padding: 12px 16px;
    text-align: center;
    border: 1px solid #e2e8f0;
  }
  
  .dh-table th {
    background-color: #f7fafc;
    font-weight: bold;
    color: #2d3748;
  }
  
  /* Pagination Controls */
  .dh-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .dh-items-per-page {
    display: flex;
    align-items: center;
  }
  
  .dh-items-per-page label {
    margin-right: 8px;
  }
  
  .dh-items-per-page select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .dh-pagination-controls {
    display: flex;
    align-items: center;
  }
  
  .dh-pagination-controls .dh-button {
    padding: 8px 16px;
    background-color: #f7fafc;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 8px;
    cursor: pointer;
  }
  
  .dh-pagination-controls .dh-button:disabled {
    background-color: #e2e8f0;
    cursor: not-allowed;
  }
  
  .dh-pagination-controls span {
    font-size: 16px;
    color: #4a5568;
  }
  