.edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    .edit-profile-content {
        display: flex;
        gap: 1.5rem;

        .edit-profile-fields {
            flex: 4;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            .edit-profile-row {
                display: flex;
                gap: 1rem;

                .half-width {
                    flex: 1;
                }
            }

            .edit-profile-submit-container {
                display: flex;
                justify-content: center;

                .edit-profile-submit-btn {
                    margin-top: 1rem;
                    padding: 10px;
                    background-color: #6dc9d1;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    width: 100px;

                    &:hover {
                        background-color: #94dbda;
                    }
                }
            }
        }
    }
}
