* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    justify-items: center;
}