.business-card {
  width: 350px; /* Adjust width as needed */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Arial, sans-serif;
  }

  .card-header {
    background-image:url(https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg?t=st=1741193881~exp=1741197481~hmac=ace8bee6ed7163c4209d0a92b876519636e990ebfdfdf562e54b0a2e9e04ce50&w=1060);
    background-size: cover;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .avatar {
    display: block;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #000000;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .name-section{
    display: contents;
  }
  .name-section h2 {
    margin: 0;
    font-size: 20px;
  }

  .name-section p {
    margin: 5px 0 0;
    font-size: 14px;
  }

  .card-body {
    padding: 20px;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .user-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  }

  .icon {
    margin-right: 10px;
    font-size: 28px;
  }
